<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/layout.css">
        <link rel="icon" type="image/x-icon" href="/images/favicon.png">
        <%- style %>
    </head>
    <body>
        <%- include('_header'); %>
        <%- body %>
        <%- include('_footer'); %>
        <%- script %>
    </body>
</html>